* {
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
    font-style: normal;
    background-color: #f8edeb;
    color: #472d30;
}

.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}
.eb-garamond{
    font-family: "EB Garamond", serif;
    font-style: normal;
  }

html,

h1{
    padding: 4vh;
    margin-left: 2vh;
    font-size: 12vh;
}

h2{
    font-size: 3vh;
    padding-right: 4vh;
    float: right;
}

h3{
    font-size: 3vh;
    padding-right: 4vh;
}

p {
    font-size: 3vh;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #472d30; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    background-color: #472d30; /* Black*/
    color: #f8edeb;
    display: block;
    transition: 0.3s;
  }

  .open-btn{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

a:hover {
    .article-box {
        background-color: #b08968;
    }
    .article-text {
        background-color: #b08968;
    }
    .article-title {
        background-color: #b08968;
    }
    .article-description {
        background-color: #b08968;
    }
    .article-date {
        background-color: #b08968;
    }

}

.article-box{
    margin: 3vh;
    padding: 1vh;
    border-radius: 20px;
    background-color: #472d30;
    height: 40vh;
    width: 90vw;
    display: inline-flex;
}

.article-img{
    margin: 3vh;
    border-radius: 20px;
    height: 34vh;
    width: 40vh;
}

.article-text {
    margin: 3vh;
    height: 34vh;
    background-color: #472d30;
    color: #f8edeb;
}

.article-title{
    margin: 1vh;
    background-color: #472d30;
    color: #f8edeb;
}

.article-description{
    margin: 1vh;
    padding-top: 3vh;
    background-color: #472d30;
    padding-right: 2vh;
    color: #f8edeb;
}

.article-date{
    font-style: italic;
    margin: 1vh;
    padding-top: 3vh;
    background-color: #472d30;
    color: #f8edeb;
    padding-right: 2vh;
    float: right;
}

footer {
    font-weight: 300;
    font-size:4vh;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 20vh;
    margin-bottom: 10px;

}